<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapiscadbury.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Cadbury</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <ion-card-title>Bahan-Bahan</ion-card-title>
      <ul class="ingredient-list">
        <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
        <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~180 g gula halus</label></li>
        <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~1 sudu besar ovalette</label></li>
        <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
        <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~1 sudu kecil esen vanila</label></li>
        <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~300 g susu pekat</label></li>
        <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~120 g tepung gandum</label></li>
        <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~100 g tepung biskut marie</label></li>
        <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~50 g serbuk horlicks</label></li>
        <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~50 g serbuk santan (1 paket)</label></li>
        <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~3 bungkus coklat Cadbury saiz kecil</label></li>
      </ul>
    </ion-card-content>
    
    
    
    
    

   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Mulakan dengan kelajuan perlahan, putar mentega, gula, dan ovalette hingga bahan-bahan ini bersatu. Ini supaya mentega dan gula tidak berterabur. Kemudian, tukar pula kepada kelajuan tinggi. Putar sehingga adunan kembang dan bertukar menjadi warna putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu dikuti dengan esen vanila, dan susu pekat.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlahankan mixer, masukkan bahan yang diayak sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    <ion-card class="cbrown">
      ~Matikan mixer. Kaup balik adunan dengan spatula atau senduk bagi memastikan adunan diadun sebati.
    </ion-card>    
    <ion-card class="cbrown">
      ~Panaskan oven dengan suhu 170°C api atas sahaja. Suhu oven bergantung pada oven masing-masing.
    </ion-card>
    <ion-card class="cbrown">
      ~Ratakan 7 sudu besar adunan ke dalam loyang, hentak loyang bagi memecahkan udara yang terperangkap dalam adunan. Bakar sekitar 7 minit atau sehingga adunan sedikit perang.
    </ion-card>
    <ion-card class="cbrown">
      ~Keluarkan loyang, tekan permukaan kek dengan penekan kek lapis supaya permukaan kek rata. Ulang proses ini hingga lapisan ketiga. Susun coklat Cadbury di atas lapisan mentah baru bakar. Buat begitu sehingga habis dan susun coklat Cadbury selang 3 lapisan.
    </ion-card>
    <ion-card class="cbrown">
      ~Sejukkan kek sepenuhnya baru potong dengan pisau tajam.
    </ion-card>
    


  </ion-card-content>
</ion-card>
</ion-content>