<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapissiakapkeli.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Siakap Keli</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <ion-card-title>Bahan-Bahan</ion-card-title>
      <ul class="ingredient-list">
        <li><input type="checkbox" id="ingredient1"><label for="ingredient1">454 g mentega</label></li>
        <li><input type="checkbox" id="ingredient2"><label for="ingredient2">1 sudu besar ovalette</label></li>
        <li><input type="checkbox" id="ingredient3"><label for="ingredient3">150 g gula halus</label></li>
        <li><input type="checkbox" id="ingredient4"><label for="ingredient4">10 biji telur gred AA atau gred A</label></li>
        <li><input type="checkbox" id="ingredient5"><label for="ingredient5">1 sudu kecil esen vanila</label></li>
        <li><input type="checkbox" id="ingredient6"><label for="ingredient6">150 g susu pekat</label></li>
        <li><input type="checkbox" id="ingredient7"><label for="ingredient7">250 g kaya</label></li>
        <li><input type="checkbox" id="ingredient8"><label for="ingredient8">1 cawan horlick</label></li>
        <li><input type="checkbox" id="ingredient9"><label for="ingredient9">1 cawan tepung gandum</label></li>
        <li><input type="checkbox" id="ingredient10"><label for="ingredient10">180 g coklat masakan (Cairkan dengan kaedah double boil)</label></li>
        <li><input type="checkbox" id="ingredient11"><label for="ingredient11">150 g cream cheese (½ buku/tiub)</label></li>
        <li><input type="checkbox" id="ingredient12"><label for="ingredient12">2 sudu kecil esen lemon</label></li>
        <li><input type="checkbox" id="ingredient13"><label for="ingredient13">Pewarna putih</label></li>
        <li><input type="checkbox" id="ingredient14"><label for="ingredient14">Pewarna merah jambu</label></li>
        <li><input type="checkbox" id="ingredient15"><label for="ingredient15">Pewarna kuning</label></li>
        <li><input type="checkbox" id="ingredient16"><label for="ingredient16">Pewarna hijau</label></li>
        <li><input type="checkbox" id="ingredient17"><label for="ingredient17">Pewarna hitam coklat (Sekiranya suka)</label></li>
      </ul>
    </ion-card-content>
    
    
    
    

   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, ovalette, dan gula dengan kelajuan tinggi sehingga adunan kembang dan bertukar menjadi warna putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu diikuti dengan esen vanila, susu pekat, dan kaya. Pukul sehingga kembang.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlahankan mixer, masukkan horlick dan tepung gandum sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    <ion-card class="cbrown">
      ~Matikan mixer. Kaup balik adunan dengan spatula atau senduk bagi memastikan adunan sebati.
    </ion-card>
    <ion-card class="cbrown">
      ~Asingkan ½ cawan adunan, kemudian warnakan dengan warna putih. Ketepikan dahulu.
    </ion-card>
    <ion-card class="cbrown">
      ~Bahagikan baki adunan kepada dua bahagian sama rata.
      <p>Adunan 1: Masukkan coklat masakan yang sudah dicairkan dan pewarna hitam. Kacau atau putar sebati. Bahagikan kepada 8 bahagian sama rata.</p>
<p>Adunan 2: Masukkan cream cheese dan esen lemon. Putar sehingga licin dan cheese tidak berketul. Bahagikan pula kepada 3 bahagian sama rata dan warnakan dengan warna berbeza (merah jambu, hijau, kuning).</p>
 </ion-card>
    
    

 <ion-card class="cbrown">
  ~Panaskan oven dengan suhu 170°C api atas sahaja. Suhu oven bergantung pada oven masing-masing.
</ion-card>
<ion-card class="cbrown">
  ~Ratakan satu bahagian adunan coklat terlebih dahulu. Hentak loyang beberapa kali bagi membuang udara yang terperangkap dalam adunan. Bakar sekitar 7 minit. Keluarkan loyang, tekan dengan penekan kek supaya permukaan kek rata. Ulang proses ini sehingga adunan coklat habis.
</ion-card>
<ion-card class="cbrown">
  ~Ratakan adunan putih. Bakar sekitar 7 minit.
</ion-card>
<ion-card class="cbrown">
  ~Keluarkan loyang, sudukan adunan berwarna secara berselang-seli sehingga membentuk 1 lapisan. Bakar sekitar 6 minit. Tidak perlu tunggu adunan bertukar perang. Tekan permukaan kek dengan penekan kek lapis. Ulang proses ini hingga adunan habis. Apabila kek sudah sejuk (suhu bilik), masukkan kek ke dalam peti sejuk (chiller) sekurang-kurangnya 1 jam barulah kek dipotong.
</ion-card>


  </ion-card-content>
</ion-card>
</ion-content>
