<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapisidola.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Idola</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
  <ion-card-title>Bahan-Bahan</ion-card-title>
  <ul class="ingredient-list">
    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">454 g mentega (2 ketul)</label></li>
    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">1 sudu besar ovalette</label></li>
    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">150 g gula halus</label></li>
    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">10 biji telur gred AA atau gred A</label></li>
    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">180 g susu pekat (½ cawan)</label></li>
    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">300 g kaya (¾ cawan)</label></li>
    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">1 cawan horlick</label></li>
    <li><input type="checkbox" id="ingredient8"><label for="ingredient8">1 caan tepung gandum</label></li>
    <li><input type="checkbox" id="ingredient9"><label for="ingredient9">Diayak bersama</label></li>
    <li><input type="checkbox" id="ingredient10"><label for="ingredient10">180 g coklat masakan</label></li>
    <li><input type="checkbox" id="ingredient11"><label for="ingredient11">(Cairkan dengan kaedah double boil)</label></li>
    <li><input type="checkbox" id="ingredient12"><label for="ingredient12">130 g cream cheese (½ tiub)</label></li>
    <li><input type="checkbox" id="ingredient13"><label for="ingredient13">1 sudu kecil pewarna oren</label></li>
    <li><input type="checkbox" id="ingredient14"><label for="ingredient14">1 sudu kecil esen oren/lemon</label></li>
    <li><input type="checkbox" id="ingredient15"><label for="ingredient15">1 sudu kecil pewarna hitam (Sekiranya ada)</label></li>
  </ul>
</ion-card-content>

    

   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">~Putar mentega dan gula dengan kelajuan tinggi sehingga adunan bertukar putih.</ion-card>

<ion-card class="cbrown">~Masukkan telur satu per satu dikuti dengan susu, kaya, dan esen vanila. Pukul sehingga adunan kembang.</ion-card>

<ion-card class="cbrown">~Tukar kelajuan minimum. Masukkan bahan yang diayak bersama sedikit demi sedikit. Putar sekadar sebati.</ion-card>

<ion-card class="cbrown">~Matikan mixer, kaup balik adunan bagi memastikan adunan diadun sempurna. Timbang dan bahagikan adunan kepada 2 bahagian sama rata:

<p>Bahagian 1 : Masukkan pewarna kuning (untuk 4 lapisan atas
  dan 4 lapisan bawah)</p>
<p>Bahagian 2: Masukkan Milo dan coklat masakan (untuk 8
  lapisan tengah)</p>
</ion-card>

<ion-card class="cbrown">~Panaskan oven dengan api atas sahaja, suhu 170' C terlebih dahulu.</ion-card>
<ion-card class="cbrown">~Ratakan 1 bahagian adunan berwarna kuning. Bakar sekitar 8 minit atau hingga perang. Keluarkan loyang dan tekan permukaan kek dengan penekan kek lapis atau sudu supaya rata. Ulang langkah melapis ini untuk 3 lapisan lagi. (4 lapisan kuning)
</ion-card>
<ion-card class="cbrown">~Ratakan adunan coklat pula. Ulang langkah sama hingga 8 lapisan.</ion-card>
<ion-card class="cbrown">~Ratakan adunan kuning. Ulang langkah melapis hingga 4 lapisan atas.</ion-card>
<ion-card class="cbrown">~Biar kek sejuk sepenuhnya (suhu bilik), balut dengan cling wrap, kemudian masukkan ke dalam peti sejuk (chiller).
  Apabila kek sejuk baru potong supaya potongan kek kemas.</ion-card>
  </ion-card-content>
</ion-card>
</ion-content>