<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapiscoklatcheese.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Coklat Chesee</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


  <ion-card-content>
    <ion-card-title>Bahan A (Adunan Coklat)</ion-card-title>
<ul>
  <li><input type="checkbox"> ~370 g mentega</li>
  <li><input type="checkbox"> ~150 gula halus</li>
  <li><input type="checkbox"> ~450 g gula halus</li>
  <li><input type="checkbox"> ~4 biji telur gred AA atau gred A</li>
  <li><input type="checkbox"> ~332 g tepung gandum</li>
  <li><input type="checkbox"> ~80 g serbuk koko</li>
</ul>
<ion-card-title>Bahan B (Adunan Cheese)</ion-card-title>
<ul>
  <li><input type="checkbox"> ~750 g cream cheese</li>
  <li><input type="checkbox"> ~170 g gula halus</li>
  <li><input type="checkbox"> ~2 sudu kecil esen vanila</li>
  <li><input type="checkbox"> ~2 biji telur gred A</li>
</ul>
</ion-card-content>


   <ion-card-header>
    <ion-card-title>Cara Membuat Adunan Coklat</ion-card-title>
  </ion-card-header>

<ion-card-content>
<ion-card class="cbrown">~Dengan kelajuan maksimum, putar mentega dan gula sehingga kembang. Masukkan telur satu per satu.</ion-card>

<ion-card class="cbrown">~Perlahankan mixer, masukkan tepung gandum dan serbuk koko sedikit demi sedikit. Putar sekadar sebati.</ion-card>
<ion-card class="cbrown">~Timbang dan bahagikan kepada 7 bahagian.</ion-card>

<ion-card-title>Cara Membuat Adunan Cheese</ion-card-title>
  
<ion-card class="cbrown">~Dengan kelajuan maksimum, putar cream cheese dan gula sehingga kembang.</ion-card>

<ion-card class="cbrown">~Masukkan telur dan esen vanila. Pukul sehingga licin.
  Timbang dan bahagikan kepada 6 bahagian. Ketepikan.</ion-card>
  </ion-card-content>

<ion-card-header><ion-card-title>Cara Melapis</ion-card-title></ion-card-header>

<ion-card-content>
  <ion-card class="cbrown">~Griskan loyang. Alas dasar loyang dengan kertas minyak atau aluminium foil. Gris lagi. Tabur tepung ke dalam loyang. Terbalikkan dan hentak loyang bagi membuang sisa tepung.</ion-card>
  <ion-card class="cbrown">~Panaskan oven dengan suhu 170' C, menggunakan api atas sahaja sekitar 10 minit terlebih dahulu.</ion-card>
  <ion-card class="cbrown">~Ratakan adunan coklat terlebih dahulu. Hentak loyang beberapa kali. Bakar sehingga masak sekitar 6-7 minit.
    Tekan dengan penekan kek. Lapiskan pula adunan cheese. Bakar sekitar 6 minit. Ulang langkah ini berselang-seli sehingga habis.</ion-card>
    <ion-card class="cbrown">~Sejukkan terlebih dahulu dalam suhu bilik. Balut dengan plastik wrap dan simpan di dalam peti sejuk (Chiller) minimun 1 jam, baru dipotong supaya potongan kemas.</ion-card></ion-card-content>  
</ion-card>
</ion-content>