<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapismutiarakasih.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Mutiara Kasih</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>



      <ion-card-content>
        <ion-card-title>Ingredients</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
          <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~180 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~2 sudu besar ovalette</label></li>
          <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~1 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~150 g susu pekat</label></li>
          <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~Pewarna merah jambu</label></li>
          <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~Esen strawberi</label></li>
          <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~Pewarna turquoise</label></li>
          <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~3 sudu besar coklat emulco</label></li>
          <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~1 cawan nestum madu/original (kisar dulu baru sukat)</label></li>
          <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~2 cawan tepung gandum</label></li>
          <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~Biskut jejari secukupnya</label></li>
        </ul>
      </ion-card-content>

    
   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, ovalette, dan gula dengan kelajuan tinggi sehingga adunan kembang dan bertukar menjadi warna putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu dikuti dengan esen vanila dan susu pekat.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlambatkan mixer, masukkan nestum dan tepung gandum sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    <ion-card class="cbrown">
      ~Matikan mixer. Kaup balik adunan dengan spatula atau senduk bagi memastikan adunan diadun sebati.
    </ion-card>
    <ion-card class="cbrown">
      ~Bahagikan adunan kepada 3 bahagian.
      <p>Adunan 1 diwarnakan dengan pewarna merah jambu dan perisa strawberi</p>
<p>Adunan 2 diwarnakan dengan warna turquoise</p>
<p>Adunan 3 dimasukkan dengan coklat emulco</p>
    </ion-card>
    <ion-card class="cbrown">
      ~Panaskan oven dengan suhu 170°C, api atas sahaja selama 10 minit.
    </ion-card>
    <ion-card class="cbrown">
      ~Ratakan 7 sudu besar adunan merah jambu ke dalam loyang. Bakar sekitar 7 minit. Keluarkan loyang. Tekan permukaan kek lapis dengan penekan kek lapis supaya permukaan kek rata. Lapis satu lapisan lagi dan susun biskut jejari seperti di dalam gambar. Bakar berlapis-lapis adunan merah jambu, turquoise, dan coklat dan susunkan biskut jejari pada setiap selang dua lapisan.
    </ion-card>
  </ion-card-content>
</ion-card>
</ion-content>