.laven {
    background-color: #B57EDC;
    color: #333333;
  }
  
  .ppink {
    background-color: #FFB6C1;
    color: #333333;
  }
  
  .cbrown {
    background-color: #5D3D2A;
    color: #ffffff;
  }
  
  .vwhite {
    background-color: #FFFFF0;
    color: #000000;
  }
  
  .cred {
    background-color: #FF4500;
    color: #000000;
  }
  
  .black {
    color: #000000;
  }