<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapisppalippali.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Ppali-Ppali</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>



      <ion-card-content>
        <ion-card-title>Bahan-Bahan</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
          <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~150 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~1 sudu besar ovalette</label></li>
          <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~1 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~300 g susu pekat</label></li>
          <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~170 g kaya</label></li>
          <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~1 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~2 cawan susu tepung</label></li>
          <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~1 cawan Horlick</label></li>
          <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~1½ cawan tepung gandum</label></li>
          <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~1 sudu kecil esen cappucino/esen kopi</label></li>
          <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~4 sudu besar Nutella</label></li>
          <li><input type="checkbox" id="ingredient14"><label for="ingredient14">~Pewarna coklat</label></li>
          <li><input type="checkbox" id="ingredient15"><label for="ingredient15">~Pewarna hijau</label></li>
          <li><input type="checkbox" id="ingredient16"><label for="ingredient16">~Pewarna kuning</label></li>
          <li><input type="checkbox" id="ingredient17"><label for="ingredient17">~Pewarna biru</label></li>
          <li><input type="checkbox" id="ingredient17"><label for="ingredient17">~Pewarna hitam</label></li>
        </ul>
        
        
        
      </ion-card-content>
      

    
   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Dengan kelajuan maksima putar mentega, gula, dan ovalette hingga adunan kembang dan putih.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu. Diikuti dengan susu pekat, kaya, dan esen vanila. Putar schingga adunan kembang dan berganda.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Perlahankan mixer, masukkan bahan yang diayak bersama sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Matikan mixer, kaup balik adunan dengan spatula atau senduk sekejap sahaja bagi memastikan adunan diadun dengan sempurna.
    </ion-card>
    
    <ion-card class="cbrown">
      Asingkan ½ cawan adunan, kemudian masukkan 4 sudu besar nutella dan pewarna hitam. Gaul sebati dan masukkan ke dalam piping beg.
    </ion-card>
    

<ion-card class="cbrown">
  ~Baki adunan tadi dibahagikan kepada 4 bahagian dan masukkan pewarna berbeza bagi setiap bahagian (cokes.
  hijau, kuning, dan biru). Masukkan esen cappucino di dalam adunan berwarna coklat.
</ion-card>

<ion-card class="cbrown">
  ~Timbang adunan berwarna dan bahagi kepada 4 bahagian untuk 4 lapisan.
</ion-card>

<ion-card class="cbrown">
  ~Panaskan oven pada suhu 170° Capi atas sahaja selama 10 minit dahulu.
  </ion-card>

<ion-card class="cbrown">
  ~Ratakan 1 bahagian adunan berwarna coklat ke dalam loyang. Bakar sekitar 7 minit atau hingga perang. Tekan dengan penekan kek. Lapis lagi dan ulangi proses sama shingga adunan berwarna coklat habis. Pada lapisan terakhir, paipkan adunan nutella secara menegak (paip jarak-jarak).
</ion-card>

<ion-card class="cbrown">
  ~Ulang langkah melapis untuk adunan berwarna hijau, kuning, dan biru. Paipkan adunan nutella pada setiap lapisan terakhir adunan berwarna.
</ion-card>

<ion-card class="cbrown">
  ~Sejukkan kek sepenuhnya sebelum dipotong.
</ion-card>



  </ion-card-content>
</ion-card>
</ion-content>