<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapiscocopie.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Coco Pie</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>



      <ion-card-content>
        <ion-card-title>Bahan-Bahan</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
          <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~150 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~1 sudu besar ovalette</label></li>
          <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~150 g susu pekat</label></li>
          <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~350 g tepung gandum</label></li>
          <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~200 g Horlick</label></li>
          <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~Esen vanila</label></li>
          <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~Pewarna turquoise</label></li>
          <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~Pewarna merah jambu</label></li>
          <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~250 g cream cheese</label></li>
          <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~1 bungkus coco pie (Dibelah tengah)</label></li> 
        </ul>
        
        
        
      </ion-card-content>
      

    
   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, gula, dan ovalette dengan kelajuan tinggi sehingga aduan gebu dan bertukar putih.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu, kemudian masukkan susu pekat. Putar sehingga adunan kembang.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Masukkan cream cheese. Pukul sehingga adunan licin dan tidak berketul.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Perlahankan mixer, masukkan Horlick dan tepung gandum sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Matikan mixer, kaup balik adunan dengan spatula atau senduk sekejap sahaja bagi memastikan adunan diadun dengan sempurna.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Bahagikan adunan kepada 2 bahagian:
      <p>Adunan 1 dimasukkan 2 sudu kecil esen vanila dan pewarna turquoise. Bahagikan kepada 2 bahagian untuk lapisan atas dan bawah.</p>
      <p>Adunan 2 dimasukkan pewarna merah jambu, cream cheese, dan 1 sudu kecil esen vanila. Putar dengan mixer sehingga sebati dan tidak berketul.</p>
    </ion-card>

    <ion-card class="cbrown">
      ~Panaskan oven pada suhu 170' C api atas sahaja selama 10 minit dahulu. Ratakan 7 sudu besar adunan berwarna turquoise, hentak loyang beberapa kali. Bakar sekitar 7 minit. Apabila masak, tekan dengan penekan kek lapis dengan perlahan dan pantas bagi mengelakkan kek melekat pada penekan kek lapis. Ulang langkah ini sehingga satu bahagian adunan turquoise untuk lapisan bawah habis.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Ratakan 7 sudu besar adunan berwarna merah jambu di atas lapisan turqoise tadi. Hentak loyang dan bakar lagi sekitar 7 minit. Bakar adunan merah jambu ini berlapis-lapis dan susun coco pie pada lapisan ketiga dan keenam.
      Susun pada lapisan yang mentah, kemudian baru dibakar sekitar 7 minit.
    </ion-card>

    <ion-card class="cbrown">
      ~Apabila selesai, lapis pula dengan baki adunan turqoise berlapis-lapis sehingga habis (7 sudu besar bagi setiap lapisan.)
    </ion-card>
    
    <ion-card class="cbrown">
      ~Sejukkan kek sepenuhnya sebelum dipotong.
    </ion-card>
    



  </ion-card-content>
</ion-card>
</ion-content>