<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapisoreocheese.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Oreo Cheese</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>



      <ion-card-content>
        <ion-card-title>Bahan-Bahan</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
          <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~180 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~1 sudu besar ovalette</label></li>
          <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~1 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~150 g susu pekat</label></li>
          <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~170 g kaya</label></li>
          <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~300 g tung gandum S</label></li>
          <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~100 g horlick</label></li>
          <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~3 bungkus biskut oreo</label></li>
          <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~Pewarna oren</label></li>
          <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~Pewarna putih</label></li>
          <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~250 g cream cheese</label></li>
        </ul>
      </ion-card-content>
      

    
   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, gula halus, dan ovalette dengan kelajuan ting shingga dunan kembang dan bertukar menjadi
      warna putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu diikuti dengan esen vanila, susu pekar, dan kaya. Putar sehingga adunan kembang.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlambatkan mixer, masukkan horlick dan tepung gandum sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    <ion-card class="cbrown">
      ~Matikan mixer. Kaup balik adunan dengan spatula atau senduk bagi memastikan adunan diadun sebati. Bahagikan adunan kepada dua bahagian:
      <p>Adunan 1 (Lapisan atas dan bawah)
      <p>Masukkan pewarna oren. Kacau sehingga sebati dengan sudu. Timbang dan bahagikan kepada 8 bahagian bagi membentuk 4 lapisan atas dan 4 lapisan bawah.</p>
      <p>Adunan 2 (Lapisan oreo)</p>
      <p>Masukkan dengan pewarna putih dan cream cheese.</p>
      <p>Putar sehingga licin dan tidak berketul menggunakan mixer. Bahagikan kepada 8 bahagian untuk lapisan tengah.</p>
      
    </ion-card>
    <ion-card class="cbrown">
      ~Ratakan 1 bahagian adunan berwarna oren, hentak loyang beberapa kali. Bakar sekitar 7 minit. Keluarkan loyang, lapis lagi. Ulang proses ini sehingga cukup 4 lapisan.
    </ion-card>
    <ion-card class="cbrown">
      ~Lapis pula dengan adunan cheese. Bakar sekitar 7 minit. Keluarkan loyang, lapis lagi adunan cheese. Susun oreo. Bakar lagi sekitar 7 minit. Ulang langkah melapis ini sehingga habis, dan susun oreo selang 2 lapisan.
    </ion-card>
    <ion-card class="cbrown">
      ~Lapis lagi dengan adunan oren. Bakar selapis demi selapis sehingga habis. Sejukkan sepenuhnya baru dipotong.
    </ion-card>
    
  </ion-card-content>
</ion-card>
</ion-content>