<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapismintcoklatcheese.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Mint, Coklat, dan Cheese</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>



      <ion-card-content>
        <ion-card-title>Bahan A</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1A"><label for="ingredient1A">~300 g mentega</label></li>
          <li><input type="checkbox" id="ingredient2A"><label for="ingredient2A">~100 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3A"><label for="ingredient3A">~1 sudu besar ovalette</label></li>
          <li><input type="checkbox" id="ingredient4A"><label for="ingredient4A">~6 biji telur grade AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient5A"><label for="ingredient5A">~250 g susu pekat</label></li>
          <li><input type="checkbox" id="ingredient6A"><label for="ingredient6A">~80 g kaya</label></li>
          <li><input type="checkbox" id="ingredient7A"><label for="ingredient7A">~1 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient8A"><label for="ingredient8A">~80 g horlicks</label></li>
          <li><input type="checkbox" id="ingredient9A"><label for="ingredient9A">~160 g tepung gandum</label></li>
          <li><input type="checkbox" id="ingredient10A"><label for="ingredient10A">~2 sudu kecil coklat emulco</label></li>
          <li><input type="checkbox" id="ingredient11A"><label for="ingredient11A">~1 sudu kecil perisa mint</label></li>
          <li><input type="checkbox" id="ingredient12A"><label for="ingredient12A">~1 sudu kecil pewarna hijau mint</label></li>
        </ul>
      </ion-card-content>
      
      <ion-card-content>
        <ion-card-title>Bahan B (Adunan cheese)</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1B"><label for="ingredient1B">~500 g cream cheese</label></li>
          <li><input type="checkbox" id="ingredient2B"><label for="ingredient2B">~170 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3B"><label for="ingredient3B">~2 biji telur grade AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient4B"><label for="ingredient4B">~2 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient5B"><label for="ingredient5B">~3 sudu besar tepung gandum</label></li>
        </ul>
      </ion-card-content>      

    
   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, gula, dan ovalette dengan kelajuan tinggi sehingga adunan putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu dikuti dengan susu pekat, kaya, dan vanila. Putar sehingga adunan kembang.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlahankan mixer, masukkan tepung gandum dan horlicks sedikit demi sedikit. Bahagikan adunan kepada dua bahagian sama rata.
      <p>Adunan 1: Masukkan coklat emulco. Bahagikan kepada 4 bahagian untuk 4 lapisan.</p>
</ion-card>
<ion-card class="cbrown">
  <p>Adunan 2: Masukkan perisa mint dan pewarna hijau. Bahagikan pula adunan hijau kepada 4 bahagian sama rata. Ketepikan.</p>
    </ion-card>
    <ion-card class="cbrown">
      ~Dengan kelajuan maksima putar cream cheese dengan gula sehingga adunan licin dan tidak berketul. Masukkan telur dan esen vanila. Putar sehingga sebati. Masukkan tepung. Putar sebati. Bahagikan kepada 4 bahagian.
    </ion-card>
    <ion-card class="cbrown">
      ~Panaskan oven dengan suhu 170°C api atas sahaja. Suhu oven bergantung pada oven masing-masing.
    </ion-card>
    <ion-card class="cbrown">
      ~Ratakan satu bahagian adunan coklat terlebih dahulu. Bakar sekitar 7 minit. Keluarkan loyang kek, tekan dengan penekan kek supaya permukaan kek rata. Ulang proses melapis yang sama untuk lapisan coklat seterusnya sehingga adunan coklat habis.
    </ion-card>
    <ion-card class="cbrown">
      ~Lapiskan adunan hijau pula. Bakar selapis demi selapis sehingga habis.
    </ion-card>
    <ion-card class="cbrown">
      ~Lapis pula adunan cheese sehingga habis. Sejukkan dahulu sebelum dipotong.
    </ion-card>
    
    


  </ion-card-content>
</ion-card>
</ion-content>