<ion-header>
  <ion-toolbar>
    <ion-title>Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img alt="melapis" src="assets\layer154-scaled.jpg" />
    <ion-card-header>
      <ion-card-title>Ada tiga cara bagi memudahkan proses melapis</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card class="cbrown">
        Timbang adunan. Dapatkan jumlah keseluruhan dan bahagikan jumlah itu kepada jumlah lapisan yang kita mahu. Contohnya total berat adunan adalah 1 kg (1000 gm), jika kita mahu 5 lapisan, maka bahagikan jumlah keseluruhan kepada 5 (1000 gm / 5 = 200 gm). Maka setiap lapisan berat adunan adalah 200 gm. Masukkan ke dalam cawan atau bekas yang sama saiz. Satu bekas mewakili satu lapisan.
      </ion-card>
      
      <ion-card class="cbrown">
        Timbang adunan. Dapatkan jumlah keseluruhan dan bahagikan kepada jumlah lapisan yang kita mahu. Letak loyang di atas penimbang, setkan kepada kosong, kemudian masukkan adunan mengikut jumlah yang kita sudah bahagikan tadi. Buat begitu setiap kali mahu membuat lapisan baru.
      </ion-card>
      
      <ion-card class="cbrown">
        Bagi lapisan nipis, sudukan 7 sudu besar bagi setiap lapisan. Boleh juga menggunakan senduk. Satu senduk setiap lapisan atau dua senduk bagi setiap lapisan mengikut ketebalan lapisan yang kita mahu.
      </ion-card>
      
    </ion-card-content>
  </ion-card>
  <ion-card class="cbrown">
    <img alt="bahan" src="\assets\images.jpeg" />
    <ion-card-header>
      <ion-card-title>SEDIAKAN BAHAN LEBIH SEBAGAI ‘BACKUP’</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bagi anda yang baru belajar, pastikan anda mempunyai lebihan bahan untuk mengelakkan kejadian yang tidak diingini.
Misalnya, telur yang digunakan mesti mencukupi sebagaimana bilangannya dalam resepi. Untuk memastikan telur yang digunakan dalam keadaan baik, pecahkan telur di dalam bekas terlebih dahulu dan kemudian baru masukkan sebiji demi sebiji ke dalam pengadun. Sekiranya anda memecahkan telur di dalam adunan, kemungkinan salah sebiji di antara telur yang anda gunakan itu busuk… rosaklah adunan anda keseluruhannya!
    </ion-card-content>
  </ion-card>

  <ion-card class="cbrown">
    <img alt="penekan" src="assets\penekan.jpg" />
    <ion-card-header>
      <ion-card-title>GUNA PENEKAN KHAS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Gunakan sukatan yang sama untuk setiap lapisan. Gunakan hanya api di bahagian atas ketuhar, iaitu api grill atau pemanggang untuk membakar kek lapis demi lapis. Apabila sesuatu lapisan masak, tekan lapisan itu dengan menggunakan penekan khas supaya semua lapisan rata dan sekata.

Jika tiada penekan, gunakan buntut gelas. Semasa proses membakar, jika terdapat gelembung udara timbul di permukaan kek, cucukkannya dengan lidi atau garfu.
    </ion-card-content>
  </ion-card>

  <ion-card class="cbrown">
    <img alt="oven" src="assets\oven.jpeg" />
    <ion-card-header>
      <ion-card-title>KAWAL SUHU KETUHAR</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Setelah selesai melapis, matikan api atas, laraskan suhu kepada 100’C – 170’C mengikut kepanasan oven masing-masing (sebab kapasiti dan kepanasan oven berbeza-beza mengikut jenis dan kebiasaan), dan bakar lagi selama 20 minit menggunakan api bawah.
Dengan cara ini, semua bahagian dan lapisan kek dapat dipastikan masak dengan rata. Keluarkan kek dari loyang ketika masih panas dan sejukkan di atas redai.
    </ion-card-content>
  </ion-card>

  <ion-card class="cbrown">
    <ion-card-header>
      <ion-card-title>ELAKKAN KECUAIAN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Dengan sedikit kesilapan seperti membiarkan atau melebihkan masa dalam tempoh 5 minit sahaja (terutama lapisan terakhir), kek lapis anda mungkin hangus di bahagian atas.
    </ion-card-content>
  </ion-card>
  
  <ion-card class="cbrown">
    <img src="assets\egg.jpeg" />
    <ion-card-header>
      <ion-card-title>Telur</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Gunakan telur yang segar sahaja kerana jika tidak, adunan “meringue” (putih telur dan gula) tidak akan gebu. Pastikan TIDAK ada kesan kuning telur di dalam putih telur itu ya. Bagaimana kita ingin tau jika telur itu segar? Bila kita pecahkan telur tu, kuning nya tak pecah dan putih telur itu pekat sekali. Itu lah jenis telur yang terbaik sekali.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/library-recipe']">
          <ion-icon name="book"></ion-icon>
          <ion-label>Library</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/tips']">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Tips</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>