<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapisharimaumalaya.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Harimau Malaya</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <ion-card-title>Bahan-Bahan</ion-card-title>
      <ul class="ingredient-list">
        <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
        <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~1 sudu besar ovalette</label></li>
        <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~150 g gula halus</label></li>
        <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
        <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~180 g susu pekat (½ cawan)</label></li>
        <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~300 g kaya (¾ cawan)</label></li>
        <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~1 cawan horlick</label></li>
        <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~1 caan tepung gandum</label></li>
        <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~180 g coklat masakan</label></li>
        <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~(Cairkan dengan kaedah double boil)</label></li>
        <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~130 g cream cheese (½ tiub)</label></li>
        <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~1 sudu kecil pewarna oren</label></li>
        <li><input type="checkbox" id="ingredient14"><label for="ingredient14">~1 sudu kecil esen oren/lemon</label></li>
        <li><input type="checkbox" id="ingredient15"><label for="ingredient15">~1 sudu kecil pewarna hitam (Sekiranya ada)</label></li>
      </ul>
    </ion-card-content>
    
    

   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, ovalette, dan gula sehingga adunan kembang dan bertukar menjadi warna putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu dikuti dengan susu pekat dan kaya. Putar sehingga adunan kembang.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlambatkan mixer, masukkan tepung gandum dan horlick sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    <ion-card class="cbrown">
      ~Matikan mixer. Kaub balik adunan dengan spatula atau senduk bagi memastikan adunan diadun sebati. Bahagikan adunan kepada dua bahagian sama rata:
      <p>Adunan 1: Masukkan pewarna hitam dan coklat masakan yang dicarkan. Sebatikan dan masukkan ke dalam piping beg atau botol sos.</p>
      <p>Adunan 2: Masukkan cream cheese, esen lemon, dan pewarna oren. Putar adunan dengan mixer sehingga adunan licin. Masukkan adunan cheese ke dalam piping beg atau botol sos.</p>
</ion-card>

<ion-card class="cbrown">
  ~Panaskan oven dengan suhu 170°C api atas sahaja. Suhu oven bergantung pada oven masing-masing.
</ion-card>
<ion-card class="cbrown">
  ~Paipkan adunan ke dalam loyang secara menyerong dan berselang-seli. Bakar sekitar 7 minit. Apabila masak, tekan dengan penekan kek. Ulang langkah ini sehingga adunan habis.
</ion-card>
<ion-card class="cbrown">
  ~Sejukkan dalam suhu bilik, kemudian balut kemas dengan plastic wrap. Sejukkan di dalam chiller. Apabila sejuk, baru potong. Kek ini tidak boleh dipotong ketika masih panas kerana kek belum set dan akan lembik.
</ion-card>

  </ion-card-content>
</ion-card>
</ion-content>