<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapistembikaicheese.JPG" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Tembikai Cheese</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <ion-card-title>Bahan-Bahan</ion-card-title>
      <ul class="ingredient-list">
        <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~454 g mentega (2 ketul)</label></li>
        <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~150 g gula halus</label></li>
        <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~1 sudu besar ovalet</label></li>
        <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
        <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~300 g susu pekat</label></li>
        <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~250 g cream cheese</label></li>
        <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~180 g tepung gandum</label></li>
        <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~100 g tepung aiskrim</label></li>
        <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~Chocolate chips secukupnya</label></li>
        <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~Pewarna hijau</label></li>
        <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~Pewarna putih</label></li>
        <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~Pewarna merah</label></li>
      </ul>
    </ion-card-content>
    
    
    

   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Putar mentega, ovalette, dan gula dengan kelajuan tinggi sehingga kembang dan bertukar menjadi warna putih pucat.
    </ion-card>
    <ion-card class="cbrown">
      ~Masukkan telur satu per satu dikuti dengan susu pekat dan cream cheese. Putar sehingga adunan kembang dan licin.
    </ion-card>
    <ion-card class="cbrown">
      ~Perlambatkan mixer, masukkan tepung gandum dan tepung aiskrim sedikit demi sedikit sambil adunan diputar.
    </ion-card>
    <ion-card class="cbrown">
      ~Matikan mixer. Kaub balik adunan dengan spatula atau senduk bagi memastikan adunan diadun sebati. Bahagikan adunan kepada tiga bahagian seperti berikut:
      <p>21 sudu besar adunan ditambah dengan warna hijau (untuk 3 lapisan)</p>
<p>14 sudu besar adunan ditambah pewarna putih (2 lapisan)</p>
<p>Selebihnya diwarnakan dengan pewarna merah.</p>
</ion-card>
    

<ion-card class="cbrown">
  ~Panaskan oven dengan suhu 170°C api atas sahaja. Suhu oven bergantung pada oven masing-masing.
</ion-card>
<ion-card class="cbrown">
  ~Ratakan 7 sudu besar adunan berwarna hijau. Hentak loyang beberapa kali. Bakar sekitar 6 minit. Keluarkan loyang kek dan tekan dengan penekan kek. Proses menekan mestilah dilakukan dengan cepat supaya kek tidak melekat pada penekan kek lapis. Ulang proses ini untuk 2 lapisan hijau lagi.
</ion-card>
<ion-card class="cbrown">
  ~Masukkan pula 7 sudu besar adunan berwarna putih. Bakar sekitar 6 minit. Ulangi proses melapis yang sama sehingga adunan berwarna putih habis.
</ion-card>
<ion-card class="cbrown">
  ~Lapis lagi dengan adunan berwarna merah sebanyak 7 sudu besar bagi setiap lapisan sehingga adunan habis. Setiap lapisan perlu ditabur dengan sedikit cip coklat sebelum dibakar.
</ion-card>

  </ion-card-content>
</ion-card>
</ion-content>