<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapisrainbowcheese.jpg" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Rainbow Cheese</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>



      <ion-card-content>
        <ion-card-title>Bahan-Bahan</ion-card-title>
        <ul class="ingredient-list">
          <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~500 g mentega</label></li>
          <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~200 g gula halus</label></li>
          <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~1 sudu besar ovalette</label></li>
          <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
          <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~1 sudu kecil esen vanila</label></li>
          <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~300 g susu pekat</label></li>
          <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~500 g cream cheese</label></li>
          <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~100 g Horlick</label></li>
          <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~260 g tepung gandum</label></li>
          <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~50 g Nestum madu (kisar)</label></li>
          <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~Pewarna merah</label></li>
          <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~Pewarna oren</label></li>
          <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~Pewarna kuning</label></li>
          <li><input type="checkbox" id="ingredient14"><label for="ingredient14">~Pewarna hijau</label></li>
          <li><input type="checkbox" id="ingredient15"><label for="ingredient15">~Pewarna biru</label></li>
          <li><input type="checkbox" id="ingredient16"><label for="ingredient16">~Pewarna ungu</label></li>
          <li><input type="checkbox" id="ingredient17"><label for="ingredient17">~Pewarna putih</label></li>
        </ul>
        
        
        
      </ion-card-content>
      

    
   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">
      ~Pukul mentega, gula, dan ovalette dengan kelajuan tinggi sehingga adunan kembang.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Masuk telur satu per satu dikuti dengan esen vanila dan susu pekat. Putar sebati.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Masukkan cream cheese. Pukul sehingga adunan licin dan tidak berketul.
    </ion-card>
    
    <ion-card class="cbrown">
      ~Perlahankan mixer, masukkan Horlick, tepung, dan Nestum. Putar sekadar sebati.
    </ion-card>
    
    <ion-card class="cbrown">
      Matikan mixer, kaup balik adunan bagi memastikan adunan diadun sempurna. Bahagikan adunan kepada 2 bahagian.
      <p>Adunan 1: tambah pewarna putih. Bahagikan kepada 6 bahagian.</p>
<p>Adunan 2: bahagikan kepada 6 warna pelangi.</p>
    </ion-card>
    

<ion-card class="cbrown">
  ~Panaskan oven pada suhu 170' C api atas sahaja. Ratakan adunan putih, bakar sekitar 5 minit. Tidak perlu tunggu lapisan perang. Tekan permukaan kek dengan penekan kek lapis.
</ion-card>

<ion-card class="cbrown">
  ~Lapiskan pula dengan adunan berwarna merah. Hentak loyang beberapa kali. Bakar sekitar 5 minit.
</ion-card>

<ion-card class="cbrown">
  ~Ulang langkah melapis mengikut susunan warna pelangi yang diselangselikan dengan adunan berwarna putih.
</ion-card>

<ion-card class="cbrown">
  ~Sejukkan kek pada suhu bilik, kemudian bungkus kemas dengan plastic wrap. Masukkan ke dalam peti sejuk (chiller) minimum 1 jam sebelum dipotong. Ini bagi memastikan kek benar-benar set dan potongan kek menjadi kemas.
</ion-card>

  </ion-card-content>
</ion-card>
</ion-content>