<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapismasamanis.JPG" />
    <ion-card-header>
      <ion-card-title>Kek Lapis Masam Manis</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <ion-card-title>Bahan-Bahan</ion-card-title>
      <ul>
          <li><input type="checkbox"> ~454 g mentega (2 ketul)</li>
          <li><input type="checkbox"> ~180g gula halus</li>
          <li><input type="checkbox"> ~1 sudu besar ovalette</li>
          <li><input type="checkbox"> ~10 biji telur gred A</li>
          <li><input type="checkbox"> ~170g kaya (1 tin kecil)</li>
          <li><input type="checkbox"> ~5 sudu besar susu pekat</li>
          <li><input type="checkbox"> ~1 sudu kecil esen vanila</li>
          <li><input type="checkbox"> ~150ml air sejuk ais</li>
          <li><input type="checkbox"> ~200g tepung gandum</li>
          <li><input type="checkbox"> ~100g horlick</li>
          <li><input type="checkbox"> ~4-5 bungkus hawflakes (Dileraikan)</li>
          <li><input type="checkbox"> ~Pewarna hijau</li>
          <li><input type="checkbox"> ~Pewarna ungu</li>
          <li><input type="checkbox"> ~Pewarna kuning lemon</li>
      </ul>
  </ion-card-content>
  

   <ion-card-header>
    <ion-card-title>Cara Membuat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="cbrown">~Putar mentega bersama gula dan ovalette dengan kelajuan tinggi hingga adunan hingga kembang dan bertukar putih.</ion-card>

<ion-card class="cbrown">~Masukkan telur satu per satu dikuti dengan kaya, susu pekat, esen vanila, dan air ais. Putar sehingga adunan kembang.</ion-card>

<ion-card class="cbrown">~Perlahankan kelajuan mixer. Masukkan tepung dan horlick sedikit demi sedikit. Matikan mixer, kaub-balikkan adunan sekadar memastikan semua adunan diadun sebati.
  Timbang dan bahagikan adunan kepada 3 bahagian.

<p>Adunan 1: Warnakan dengan pewarna hijau. Bahagikan
  adunan kepada 4 bahagian untuk 4 lapisan kek.</p>
<p>Adunan 2: Warnakan dengan warna ungu. Bahagikan
  adunan kepada 4 bahagian untuk 4 lapisan kek.</p>
<p>Adunan 3 : Warnakan dengan warna kuning lemon.
  Bahagikan adunan kepada 4 bahagian untuk 4 lapisan kek.</p>
</ion-card>

<ion-card class="cbrown">~Ratakan satu lapisan adunan berwarna kuning. Hentak loyang beberapa kali bagi membuang udara terperangkap.
  Bakar sekitar 7 minit atau hingga adunan masak (bertukar sedikit perang.) Tekan permukaan kek dengan penekan kek lapis. Lapis lagi adunan kuning dan susun hawflakes.
  Ulang langkah melapis ini untuk semua adunan; 4 lapisan kuning, 4 lapisan ungu, 4 lapisan hijau. Susun hawflakes pada setiap selang 2 lapisan.</ion-card>
<ion-card class="cbrown">~Potong ketika kek sejuk sepenuhnya.</ion-card>
  </ion-card-content>
</ion-card>
</ion-content>