<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ppink">
  <ion-card class="cbrown">
    <img src="assets\keklapisdiva.jpeg" alt="Kek Lapis Diva"/>
    <ion-card-header>
      <ion-card-title>Kek Lapis Diva</ion-card-title>
      <ion-card-subtitle>Size 8x8x3</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
  <ion-card-title>Bahan-Bahan</ion-card-title>
  <ul class="ingredient-list">
    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">~500 g mentega</label></li>
    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">~1 sudu besar ovalette</label></li>
    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">~150 g gula tepung</label></li>
    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">~10 biji telur gred AA atau gred A</label></li>
    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">~150 g 'kaya'</label></li>
    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">~300 g susu pekat manis</label></li>
    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">~100 g serbuk horlicks</label></li>
    <li><input type="checkbox" id="ingredient8"><label for="ingredient8">~300 g tepung gandum</label></li>
    <li><input type="checkbox" id="ingredient9"><label for="ingredient9">~1 sudu kecil esen coklat</label></li>
    <li><input type="checkbox" id="ingredient10"><label for="ingredient10">~Pewarna coklat</label></li>
    <li><input type="checkbox" id="ingredient11"><label for="ingredient11">~1 sudu kecil esen vanila</label></li>
    <li><input type="checkbox" id="ingredient12"><label for="ingredient12">~Pewarna biru</label></li>
    <li><input type="checkbox" id="ingredient13"><label for="ingredient13">~1 sudu kecil esen keladi/pisang</label></li>
    <li><input type="checkbox" id="ingredient14"><label for="ingredient14">~Pewarna ungu</label></li>
    <li><input type="checkbox" id="ingredient15"><label for="ingredient15">~1 sudu kecil esen strawberi</label></li>
    <li><input type="checkbox" id="ingredient16"><label for="ingredient16">~Pewarna merah</label></li>
  </ul>
</ion-card-content>    

      <ion-card-header>
        <ion-card-title>Cara Membuat</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-card class="cbrown">~Putar mentega, ovalette, dan gula supaya doh menjadi kembang kol dan bertukar menjadi warna putih pucat.</ion-card>

<ion-card class="cbrown">~Masukkan telur satu persatu diikuti dengan susu yang kaya dan pekat. Putar supaya doh mengembang.</ion-card>

<ion-card class="cbrown">~Perlahankan kelajuan mixer, masukkan horlick dan tepung sedikit demi sedikit sambil doh diputar.</ion-card>

<ion-card class="cbrown">~Matikan pengadun. Tutup adunan dengan spatula atau sudu untuk memastikan adunan dirawat dengan baik. Buat adunan 4 bahagian:

    <p>adunan 1: masukkan esen coklat dan pewarna coklat</p>
    <p>adunan 2: masukkan esen vanila dan pewarna biru</p>
    <p>adunan 3: masukkan esen keladi atau pisang dan pewarna ungu</p>
    <p>adunan 4: masukkan esen strawberry dan pewarna merah</p>
  </ion-card>

  <ion-card class="cbrown">~Timbang adunan berwarna dan bahagikan kepada 4 bahagian. 1 bahagian mewakili 1 lapisan</ion-card>
  <ion-card class="cbrown">~Panaskan ketuhar pada suhu 170°C selama 10 minit dahulu</ion-card>
  <ion-card class="cbrown">~Sapukan satu bahagian adunan coklat ke dalam kuali. Bakar selama kira-kira 7 minit atau sehingga perang. Tekan dengan penekan kek. Lapis sekali lagi dan ulangi proses yang sama untuk setiap warna sehingga selesai (4 coklat, 4 merah, 4 biru, 4 ungu).</ion-card>
  <ion-card class="cbrown">~Potong kek apabila kek sejuk</ion-card>
   
      </ion-card-content>


  </ion-card>
</ion-content>
